<html>
<body>
    <table>
        <tr>
            <td><h1>Darshan</h1></td>
        </tr>
        <tr>
            <td><a href="/">Home</a>
                <a href="/about">about</a>
                <a href="/contact">contact</a>
            </td>
        </tr>
        <tr>
            <td>
                {% block mycontent  %}
                {% endblock %}
            </td>
        </tr>
        <tr>
            <td>Website developed by Darshan</td>
        </tr>


    </table>


</body>


</html>